body {
    font-family: 'Montserrat', sans-serif;
}

.footer {
    background-image: -webkit-linear-gradient(90deg, #f45622 0%, #f53e54 100%);
    padding: 30px 0px;
    font-family: 'Play', sans-serif;
    text-align: center;
}

.footer .row {
    width: 100%;
    margin: 1% 0%;
    padding: 0.6% 0%;
    color: gray;
    font-size: 0.8em;
}

.footer .row a {
    text-decoration: none;
    color: gray;
    transition: 0.5s;
}

.footer .row a:hover {
    color: #fff;
}

.footer .row ul {
    width: 100%;
}

.footer .row ul li {
    display: inline-block;
    margin: 0px 30px;
}

.footer .row a i {
    font-size: 2em;
    margin: 0% 1%;
}

@media (max-width: 720px) {
    .footer {
        text-align: left;
        padding: 5%;
    }

    .footer .row ul li {
        display: block;
        margin: 10px 0px;
        text-align: left;
    }

    .footer .row a i {
        margin: 0% 3%;
    }
}

.fixed-height-title {
    height: 2.5em; /* Giảm chiều cao cho phù hợp với nội dung của bạn */
    overflow: hidden; /* Đảm bảo rằng nội dung thừa sẽ bị ẩn */
    text-overflow: ellipsis; /* Thêm dấu "..." nếu văn bản bị cắt */
}

.image-hover {
    transition: transform 0.3s ease; /* Thêm hiệu ứng chuyển động mượt mà cho hình ảnh */
}

.image-hover:hover {
    transform: scale(1.1); /* Phóng to hình ảnh khi hover */
}

.icon-hover {
    transition: transform 0.3s ease, background-color 0.3s ease; /* Thêm hiệu ứng chuyển động mượt mà cho biểu tượng */
}

.icon-hover:hover {
    transform: scale(1.1); /* Phóng to biểu tượng khi hover */
    background-color: #0056b3; /* Thay đổi màu nền khi hover */
}

.discount-percentage {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ed2727;
    color: #FFFFFF;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}

.carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.carousel-caption {
    background-image: -webkit-linear-gradient(90deg, #f45622 0%, #f53e54 100%);
    padding: 20px;
}






